<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="error-page section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-12">
				<!-- Error Inner -->
				<div class="error-inner">
					<h1>404<span>Oop's  sorry we can't find that page!</span></h1>
					<p>Aenean eget sollicitudin lorem, et pretium felis. Nullam euismod diam libero, sed dapibus leo laoreet ut. Suspendisse potenti. Phasellus urna lacus</p>
					<div class="search-form" (keyup.enter)="findPage(inputfind.value)">
						<input #inputfind placeholder="Search from Here" type="text">
						<button class="btn" type="button" (click)="findPage(inputfind.value)"><i class="fa fa-search"></i></button>
					</div>
				</div>
				<!--/ End Error Inner -->
			</div>
		</div>
	</div>
</section>
