* {
  padding: 0;
  margin: 0;
  outline: 0;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
}
body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    z-index: 99999999;
}
.loader-svg {
    display: flex;
    align-items: flex-end;
}
.loader-svg .mid svg polygon {
    stroke-dasharray: 50;
    animation: midanim 2.5s linear infinite;
}
@keyframes midanim {
  to {
    stroke-dashoffset:100; 
  }
}
.loader-svg svg polygon {
    stroke-dasharray: 25;
    animation: anim 2s linear infinite;
}
@keyframes anim {
  to {
    stroke-dashoffset:100; 
  }
}
.loader-text {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    margin: 20px 0;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
}
.loader-text span {
  color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    animation: dash 1.5s infinite;
}
@keyframes dash {
  from {
    -webkit-text-stroke: 0.5px #fff;
  }
  to {
    color: #fff;
  } 
}
